@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
	--hero-dark-bg-color: #1f2937;
	--hero-quote-bg-color: #e5e7eb;
	--hero-quote-txt-color: #1f2937;
	--hero-call-bg-color: #3882f6;
	--hero-main-txt-color: #f9faf8;
	--hero-secondary-txt-color: #e5e7eb;
	--hero-left-right-padding: 100px;
}

body {
	width: 100vw;
	font-family: "Roboto", Times, serif;
	background-color: orange;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	display: none;
}
ul {
	list-style: none;
	padding: 0%;
}
li {
	margin-left: 20px;
}
button {
	background-color: var(--hero-call-bg-color);
	border: none;
	color: var(--hero-main-txt-color);
	font-size: 18px;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 5px;
}

.header {
	background-color: var(--hero-dark-bg-color);
	display: flex;
	justify-content: space-between;
	padding: 10px var(--hero-left-right-padding);
}
.logo {
	display: flex;
	align-items: center;
	color: var(--hero-main-txt-color);
	background-color: transparent;
	font-weight: bold;
	font-size: 24px;
}
.header-links {
	color: var(--hero-secondary-txt-color);
	font-size: 18px;
	background-color: transparent;
	display: flex;
	justify-content: space-around;
}

.hero-main {
	display: flex;
	justify-content: space-between;
	padding: 100px var(--hero-left-right-padding);
	background-color: var(--hero-dark-bg-color);
}

.hero-main-left {
	background-color: transparent;
	margin-right: 50px;
}
.hero-main-text {
	color: var(--hero-main-txt-color);
	font-size: 48px;
	font-weight: bolder;
}
.hero-secondary-text {
	font-size: 18px;
	color: var(--hero-secondary-txt-color);
	margin-bottom: 10px;
}
.hero-main-right {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--hero-secondary-txt-color);
	width: 500px;
	flex-shrink: 0;
	background-color: rgb(109, 115, 125);
}

.generals-section {
	padding: 0px var(--hero-left-right-padding) 100px;
	background-color: white;
}
.generals-section-title {
	background-color: transparent;
	color: var(--hero-quote-txt-color);
	text-align: center;
	padding: 50px;
	font-size: 36px;
	font-weight: bold;
}
.generals {
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.generals > div {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.generals > div > div {
	height: 150px;
	width: 150px;
	border: 3px solid #3882f6;
	border-radius: 8px;
}
.generals > div > p {
	text-align: center;
	width: 150px;
}

.hero-quote {
	background-color: var(--hero-quote-bg-color);
	padding: 100px var(--hero-left-right-padding);
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
}
.quote {
	padding-left: 50px;
	padding-right: 50px;
}
.quote-author {
	font-weight: bold;
	text-align: right;
	font-style: normal;
}
.hero-call-section {
	width: 100%;
	background-color: white;
}
.hero-call {
	margin: 100px var(--hero-left-right-padding);
	background-color: var(--hero-call-bg-color);
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}
.hero-call button {
	border: 2px solid white;
}
.hero-call-text {
	font-size: 24px;
	font-weight: bold;
	color: var(--hero-main-txt-color);
}
.hero-call-subtext {
	font-size: 18px;
	color: var(--hero-secondary-txt-color);
}
.hero-footer {
	background-color: var(--hero-dark-bg-color);
	font-size: 18px;
	color: var(--hero-secondary-txt-color);
	padding: 25px;
	text-align: center;
}
